#root {
  max-width: 1280px;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.read-the-docs {
  color: #888;
}
