@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 10mm;
    size: A4;
  }
  
  .no-print {
    display: none !important;
  }

  body {
    background-color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Ensure maximum quality for text and lines */
  .max-w-4xl {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}